@import '../../variables.scss';

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  padding: $base * 6;
  background: $gray-100;
  border-bottom: 1px solid $gray-200;
  z-index: 3;

  .user-box {
    align-self: right;
    margin: auto 0 auto auto;

    button {
      padding: $base * 2 $base * 3;
      font-family: 'Ibm Plex Sans';
      font-size: 1rem;
      border: 2px solid transparent;
    }
    
    span {
      margin-right: $base * 3;
    }
  }
}

.active {
  color: $accent;
}